
<section id="Classic">
  <div class="col-xl-12">
    <img src="./assets/img/classic-btop.svg" width="100%" class="b-top">
  </div>

  <div class="col-xl-12 py-5">
    <div class="col-xl-10 row mx-auto">
      <div class="col-xl-6">
        <img src="./assets/img/classic/classic masala.png">
      </div>
      <div class="col-xl-6 text-center mt-5">
        <h1>Classic Masala</h1>
        <p class="mb-0">Your favourite mix desi spices now in a chatpata snack!</p>
        <p class="mb-0">Enjoy a bowl of mouth-watering Classic Masala falvour</p>
        <p class="mb-0">for that classic taste in delightful Saffola masala oats!</p>

        <div class="col-10 mx-auto bg-yellow px-0 py-4 mt-100">
          <button class="btn-red bg-red">Add ons</button>
          <img src="./assets/img/classic/cinnamon.png" class="cinnamon">
           <p class="mb-0 fs-12">Top your bowl of classic masala oats with crushed peanuts for the extra bite</p>
        </div>

      </div>
    </div>
    <div class="col-xl-10 mx-auto text-center">
      <p class="fs-14">Disclaimer: Vegetables are dehydrated to maintain goodness and taste, Creative visualization, Suggested garnishing</p>
    </div>
  </div>


</section>
