/* You can add global styles to this file, and also import other style files */


html, body{
  background-color: #fdc518;
  font-size: 18px;
}
.mango{
  color: #fdc518;
}
.bg-mango{
  background-color: #fdc518 !important;
}
.red, .fa-chevron-left, .fa-chevron-right{
 color: #db0811;
}
.bg-red{
  background-color: #db0811 !important;
 }
.light{
  color: #fef1bd;
}
.bg-light{
  background-color: #fef1bd !important;
}
.white{
  color: white;
}

.btn{
  padding: 8px 15px;
  background-color: #fdc518;
  color: #db0811;
  font-weight: 700;
}

.fs-60{
  font-size: 60px;
}
.fs-20{
  font-size: 20px;
}
.fs-14{
  font-size: 14px;
}


.owl-item{
  text-align: center !important;
}
.owl-item:active{
  width: 315px !important;
}
.fa-angle-left{
  color: red !important;
  background-color: black !important;
}
