.b-top{
  position: absolute;
  left: 0;
  z-index: 99;
  top: -2px;
}

.m-25{
  margin: 25px 0px;
}

.fs-14{
  font-size: 13px;
  font-weight: 700;
  color: #4b4a4a;
}

@media screen and (min-width:576px) and (max-width: 2500px){
  .hide-web{
    display: none;
  }
}

@media screen and (min-width:300px) and (max-width: 576px){
  .hide-mob{
    display: none;
  }
  .px-zero{
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .fs-14{
    font-size: 12px;
  }
  .upper-arrow{
    left: 0;
    position: absolute;
    top: -1px;
    transform: rotate(0deg);
    z-index: 99;
  }
}
