<app-header></app-header>



<div class="col-xl-12 px-0 row mx-0 px-0">
  <img src="./assets/img/bg-top.svg" class="hide-mob bg-top p-0">
  <img src="./assets/img/bg-mob.svg" class="hide-web bg-top p-0">

  <div class="container mx-auto row px-0 mt-100">
    <div class="col-xl-7 text-left px-0">
      <img src="./assets/img/products-01.png" width="100%">
      <p class="fs-14 white text-center hide-mob">Desclaimer: vegetables are dehydrated to maintain goodness and taste. Creative visulization, Suggested garnishing</p>
    </div>
    <div class="col-xl-5">
      <div class=" col-xl-10 col-12 mob-center mb-0 mt-150">
        <h1 class="fs-60">lip-smacking flavours to <span>snack healthy</span></h1>
        <p class="fs-20">With wholegrain oats + real veggies</p>
        <p class="fs-14 white text-center hide-web">Desclaimer: vegetables are dehydrated to maintain goodness and taste. Creative visulization, Suggested garnishing</p>
      </div>
    </div>
  </div>
</div>


<app-classic-masala></app-classic-masala>
